* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Valley */

.header-container {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  padding: 100px;
 /* background-image: linear-gradient(to left, #266833 , #191A19);*/
 background-image: linear-gradient( to right,
  rgba(0, 0, 0, 0.863), 
  rgba(0, 0, 0, 0.164)
), url("./images/5681326.jpg");
 background-position: center;
 background-size: cover;
}
.zone1 {
  width: 420px;
  height: 500px;
}
.zone1 h1 {
  color: #fff;
  font-size: 50px;
}
.zone1 p {
  color: rgb(209, 209, 209);
  margin-top: 2rem;
  line-height: 25px;
  font-size: 18px;
  width: 350px;
}
.zone1 h1 span {
  background: -webkit-linear-gradient(#3ea176, #B2EA70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.zone1 .btn-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width:320px;
}
.zone1 .btn-zone > .btn1 {
  color: #000;
  background-image: linear-gradient(#3ea176, #B2EA70);
  padding: 14px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
 
}
.zone1 .btn-zone > .btn2 {
  color: rgb(255, 255, 255);
  border: 2px solid #3ea176;
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
}
.zone2 {
  width: 100%;
  height: 500px;
  margin-left: 100px;
}



/* Transaction zone */

.transaction-header-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.transaction-header-container .base1 {
  /*border: 2px solid #000;*/
  width: 100%;
  height: 900px;
  background-image: url(./assets/pexels-photo-3064284.jpeg);
  background-position: center;
  background-size: cover;
}
.transaction-header-container .base2 {
  width: 850px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-ui {
  border: 2px solid rgb(0, 0, 0);
  width: 400px;
  height: 700px;
  border-radius: 50px;
  padding: 20px;
}
.fund-balance {
  border: 2px solid rgb(13, 202, 23);
  width: 100%;
  height: 180px;
  border-radius: 20px;
}
.quick-action {
  border: 2px solid rgb(140, 143, 140);
  width: 100%;
  height: 130px;
  border-radius: 20px;
  margin-top: 3rem;
}
.transaction-history {
  border: 2px solid rgb(140, 143, 140);
  width: 100%;
  height: 270px;
  border-radius: 20px;
  margin-top: 1.5rem;
}