* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Valley */

.header-container {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  padding: 100px;
 /* background-image: linear-gradient(to left, #266833 , #191A19);*/
 background-image: linear-gradient( to right,
  rgba(0, 0, 0, 0.863), 
  rgba(0, 0, 0, 0.164)
), url("./images/5681326.jpg");
 background-position: center;
 background-size: cover;
}
.zone1 {
  width: 420px;
  height: 500px;
}
.zone1 h1 {
  color: #fff;
  font-size: 50px;
}
.zone1 p {
  color: rgb(209, 209, 209);
  margin-top: 2rem;
  line-height: 25px;
  font-size: 18px;
  width: 350px;
}
.zone1 h1 span {
  background: -webkit-linear-gradient(#3ea176, #B2EA70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.zone1 .btn-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width:320px;
}
.zone1 .btn-zone > .btn1 {
  color: #000;
  background-image: linear-gradient(#3ea176, #B2EA70);
  padding: 14px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
 
}
.zone1 .btn-zone > .btn2 {
  color: rgb(255, 255, 255);
  border: 2px solid #3ea176;
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
}
.zone2 {
  width: 100%;
  height: 500px;
  margin-left: 100px;
}



/* Transaction zone */

.transaction-header-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.transaction-header-container .base1 {
  /*border: 2px solid #000;*/
  width: 100%;
  height: 900px;
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url("https://images.pexels.com/photos/6995145/pexels-photo-6995145.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}
.transaction-header-container .base2 {
  width: 850px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(214, 214, 214, 0.247);
}
.phone-ui {
  width: 400px;
  height: 750px;
  border-radius: 50px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #fff;
}
.fund-balance {
  background: #3ea176;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
}
.quick-action {
  box-shadow: rgba(48, 48, 48, 0.2) 0px 2px 8px 0px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 2rem;
  padding: 20px;
}
.transaction-history {
  box-shadow: rgba(48, 48, 48, 0.2) 0px 2px 8px 0px;
  width: 100%;
  height: 270px;
  border-radius: 20px;
  margin-top: 1.5rem;
  padding: 20px;
}
.fund-balance .ab {
  color: rgb(236, 235, 235);
}
.fund-balance .amount {
  font-size: 27px;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #fff;
}
.fund-balance .acc-num {
  font-size: 12.5px;
  margin-top: 0.5rem;
  color: rgb(236, 235, 235);
}
.fund-balance .acc-num .acc-number {
  font-size: 13.5px;
  margin-left: 3.5px;
  color: #fff;
}
.fund-balance .add-money {
  color: rgb(255, 255, 255);
  background:rgba(0, 0, 0, 0.651);
  padding: 12px 22px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fund-balance .send-money {
  color: rgb(255, 255, 255);
  background:rgba(0, 0, 0, 0.651);
  padding: 12px 22px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fund-balance .buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}


/* quick action */
.quick-action .qa {
  color: #999;
}
.quick-action .actions-container {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.quick-action .actions-container .loans {
  width: 50px;
  height: auto;
  text-align: center;
}
.quick-action .actions-container .airtime{
  width: 50px;
  height: 37px;
  text-align: center;
}
.quick-action .actions-container .pay-bills {
  width: 50px;
  height: 37px;
  text-align: center;
}


.loan-img {
  background: rgba(0, 128, 0, 0.137);
  border-radius: 10px;
  padding: 3px;
}
.loan-text {
  font-size: 13px;
  color: #999;
}
.airtime-img {
  background: rgba(0, 128, 0, 0.137);
  border-radius: 10px;
  padding: 3px;
}
.pay-bills-img {
  background: rgba(0, 128, 0, 0.137);
  border-radius: 10px;
  padding: 3px;
}

.transaction-history .ta {
  color: #999;
}
.no-transaction {
  text-align: center;
  margin-top: 3rem;
}
.ntheader {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0.5rem;
}
.no-transaction-text {
  font-size: 13px;
  color: rgb(75, 75, 75);
  margin-top: 0.5rem;
}

.dot-container {
  width: 70px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dot1 {
  background: #3ea176;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin: 0 auto;
}

